/* ============== Fonts ============== */
@font-face {
  font-family: "Dana Regular";
  src: url("fonts/Dana-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Dana Medium";
  src: url("fonts/Dana-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Dana DemiBold";
  src: url("fonts/Dana-DemiBold.woff2") format("woff2");
}

/* ============== Default Styles ============== */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  outline: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Dana Regular";
  background-color: #fafafa;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-family: "Dana";
}

input {
  font-family: "Dana";
}

/* ============== Utility Classes ============== */
.container {
  width: min(100% - 30px, 1320px);
  margin-inline: auto;
}

button {
  font-family: "Dana";
}

.btn {
  font-family: "Dana";
  font-size: 1.6rem;
  border: none;
  background-color: #155dfc;
  color: #fff;
  padding: 0.8rem 2.4rem;
  border-radius: 0.625rem;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #0040ff;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12;
  transition-duration: 300ms;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* ============== Main ============== */
.main {
  margin: 2rem 0;
}

/* ============== Section: Contact header ============== */
.contact-header__caption {
  color: #4a5565;
}

/* ============== Section: Contact search ============== */
.contact-search {
  display: flex;
  align-items: center;
  margin: 3rem 0 2rem 0;
  gap: 1.5rem;
}

.contact-search__wrapper {
  display: flex;
  flex: 1;
  position: relative;
}

.contact-search__input {
  border: solid 1px #a5a5a5;
  border-radius: 0.9rem;
  width: 100%;
  font-family: "Dana";
  padding: 0.8rem 4rem 0.8rem 2rem;
  font-size: 1.6rem;
  transition: all 0.2s ease;
  border-color: #cdcdcd;
  background-color: #fafafa;
}

.contact-search__input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.35);
}

.contact-search__input::placeholder {
  font-size: 1.6rem;
  color: #99a1af;
}

.contact-search__wrapper svg {
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  color: #99a1af;
}

.contact-search__btn-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.contact-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.1s ease;
  cursor: pointer;
}

.contact-search-btn:active {
  transform: scale(0.9);
}

/* ============== Contacts ============== */
.contacts {
  margin: 2rem 0;
  border-radius: 1rem;
  padding: 1.8rem;
  box-shadow:
    0 0 5px 0px #0000001a,
    0 1px 2px -1px #0000001a;
  background-color: #fff;
}

.contacts__status {
  color: #6a7282;
  margin-bottom: 1rem;
}

.contacts__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: flex-start;
  row-gap: 2rem;
  overflow: hidden;
  max-height: 53rem;
  min-height: 53rem;
}

.contact-box {
  width: 39rem;
  height: 16rem;
  border: solid 1px #e1e1e1;
  border-radius: 1rem;
  padding: 1.6rem;
  cursor: pointer;
  justify-self: center;
  overflow: hidden;
}

.contact-box:hover {
  box-shadow:
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
}

.contact-box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-box__name {
  font-family: "Dana Medium";
  font-size: 1.8rem;
}

.contact-box__remove {
  color: #818894;
}

.contact-box__remove:hover {
  color: red;
}

.contact-box__edit {
  color: #818894;
}

.contact-box__edit:hover {
  color: #0059ff;
}

.contact-box__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-box__email-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.contact-box__email-wrapper svg {
  color: #818894;
}

.contact-box__email {
  font-size: 1.5rem;
  color: #4a5565;
  font-family: "Dana Medium";
}

.contact-box__phone-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contact-box__phone-wrapper svg {
  color: #818894;
}

.contact-box__phone {
  font-size: 1.5rem;
  color: #4a5565;
  font-family: "Dana Medium";
}

.contact-box__tag {
  display: inline-flex;
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: #4e535be1;
  color: #fff;
  border-radius: 5rem;
  width: 5rem;
  height: 2.2rem;
  justify-content: center;
}

/* ============== Pagination ============== */
.paginations {
  border-top: solid 1px #e1e1e1;
  margin-top: 1.5rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.pagination {
  cursor: pointer;
  font-family: "Dana SemiBold";
  padding: 0.5rem 1.4rem;
  border-radius: 0.8rem;
  border: solid 1px #e1e1e1;
  transition: all 0.2s ease;
}

.pagination:hover {
  background-color: #0040ff;
  color: #fff;
}

.pagination--active {
  background-color: #155dfc;
  color: #fff;
}

/* ============== Modal: Add Contact ============== */
.modal-screen {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

.add-modal__title,
.edit-modal__title {
  font-weight: lighter;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.add-modal__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-modal__name {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.add-modal__label {
  color: #4a5565;
  font-family: "Dana Medium";
}

.add-modal__input {
  border: solid 1px #a5a5a5;
  border-radius: 0.9rem;
  width: 38rem;
  font-family: "Dana";
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  transition: all 0.2s ease;
  border-color: #cdcdcd;
}

.add-modal__input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.35);
}

.add-modal__input::placeholder {
  color: #8f8f8fde;
}

.add-modal__email {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.add-modal__phone {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.add-modal__tag {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.add-modal__actions,
.edit-modal__actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.add-modal__btn-confirm {
  font-family: "Dana SemiBold";
}

.add-modal__btn-cancel,
.edit-modal__btn-cancel {
  background-color: transparent;
  border: solid 1px #a5a5a5;
  color: #000;
  font-family: "Dana SemiBold";
}

/* ============== Modal: Remove Contact ============== */

.remove-modal__title {
  font-weight: lighter;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.remove-modal__caption {
  margin: 1.5rem 0;
}

.remove-modal__actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.remove-modal__btn-cancel {
  background-color: transparent;
  border: solid 1px #a5a5a5;
  color: #000;
}

.error {
  color: red;
  font-size: 1.3rem;
}

/* ============== Toast ============== */
.toast {
  position: fixed;
  left: 3rem;
  top: 3rem;
  transition: transform 250ms ease;
  transform: translateX(-32rem);
}

.toast--show {
  transform: translateX(0);
}

.toast__content {
  background-color: #5296d5;
  width: 28.3rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
}

.toast__content-title {
  color: #fff;
}

/* ============== No Contacts ============== */

.contacts__container .no-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.contacts__container:has(.no-contact) {
  grid-template-columns: none;
  align-content: unset;
}

.no-contact__caption {
  color: #4e5460;
}

/* ============== Media Queries ============== */

@media (max-width: 1260px) {
  .contacts__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .contact-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contacts__container {
    grid-template-columns: repeat(1, 1fr);
    max-height: 161rem;
  }
  .contact-search {
    flex-direction: column;
  }
  .contact-search__wrapper {
    width: 100%;
  }
  .contact-search-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .add-modal__input {
    width: 100%;
  }
}
